POSTGRES_PASSWORD=secret
MONGO_ROOT_PASSWORD=secret
MONGO_PASSWORD=secret
LOCAL_WORKSPACE_FOLDER=/path/to/
SPACY_MODEL=it_core_new_sm
PIPELINE_PASSWORD=secret
INDEXER_LANGUAGE=en
INDEXER_INDEX=hnsw:models/faiss_hnsw.pkl:0:r,flat:models/flat_kbp.pkl:1:rw
INDEXER_VECTOR_SIZE=1024
BIENCODER_CONFIG=models/biencoder_model.bin
BIENCODER_MODEL=models/biencoder_config.json
NILPREDICTOR_ARGS=--nil-bi-model models/nilp_under_bi_max_levenshtein_jaccard_model.pickle --nil-bi-features 'max_bi,levenshtein,jaccard'
FQDN=example.com
LOCAL_IP=127.0.0.1
